<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book</title>
</head>
<body>
	
	<h3 th:text="${msg}"></h3>

	<form th:action="@{/save}" th:object="${bookData}" method="POST">
		<input type="hidden" th:field="*{id}" th:value=${bookData.id}>
		name <input type="text" th:field="*{bookName}" th:value=${bookData.bookName}>
		<span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></span> <br><br>
		price <input type="number" th:field="*{bookPrice}" th:value=${bookData.bookPrice} >
		<span th:if="${#fields.hasErrors('bookPrice')}" th:errors="*{bookPrice}"></span> <br><br>
		
		<button type="submit">Save</button>
		<button type="reset">Reset</button>
	</form>
	
	<a th:href="@{/}">Add Book</a> <br>
	<a th:href="@{/book}">View Book</a> <br>
	<a th:href="@{/all-books}">All Books</a>

</body>
</html>